:root {
	background-color: #1a1a2e;
	--color: #ffffff;
	--gray: #edeef7;
	--white: #ffffff;
	--primary-color: #0f3460;
	--background-transparent: rgba(48, 48, 180, 0.12);
	--poppins: "Poppins", sans-serif;
	--shadow-opacity: 0.3;
	--blur: 100px;
}

body {
	font-family: var(--poppins), sans-serif;
	font-size: 1rem;
	background: var(--background);
	background-position: center center;
	background-size: cover;
	display: flex;
	width: 100vw;
	height: 100vh;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

#team-members {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 100px;
	background: var(--background-transparent);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(var(--blur));
	border-radius: 20px;
	border: 1px solid rgba(var(--white), 0.08);
	filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, var(--shadow-opacity)));
}


.team-member {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 16px;
	min-height: 60px;
	padding: 16px;
	background-color: var(--white);
	border-radius: 24px;
	box-shadow: 0x 6px 24px 0px rgba(0, 0, 0, 0.5);
	font-size: 16px;
	z-index: 1;

	&-avatar {
		width: 3.75rem;
		height: 3.75rem;
		object-fit: cover;
		border-radius: 50%;
	}

	&-name {
		display: grid;
		gap: 0.125rem;

		h3 {
			font-size: large;
		}

		p {
			font-size: smaller;
		}
	}

	&-chosen {
		box-shadow: 8px 8px 32px rgba(black, 0.3);
	}

	&-drag {
		opacity: 0;
	}
}

.social-links {
	display: flex;
	flex-direction: row;
	gap: 6px;
	margin-left: auto;
	padding: 0;
	list-style-type: none;

	i {
		width: 1.25rem;
		height: 1.25rem;
		font-size: 1.25rem;
	}
}

.add-contact-btn-container {
	text-align: center;
	margin-top: 20px;
}

.add-contact-btn {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: var(--white);
	background-color: var(--primary-color);
	border: 2px solid var(--primary-color);
	border-radius: 70px;
	border-radius: 8px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.add-contact-btn:hover {
	background-color: var(--primary-color-light);
	color: var(--white);
}

.popup-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 69%;
    transform: translate(-50%, -50%);
    background: #aa99996c; 
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
	align-items: center;
}

.popup-content{
	text-align: center;
}
.close-popup {
	background-color: #e74c3c;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
}
